[submodule "Velvet/Vendor/entt"]
	path = Velvet/Vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Velvet/Vendor/GLFW"]
	path = Velvet/Vendor/GLFW
	url = https://github.com/glfw/glfw.git
